<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.httpfileupload.HttpFileUploadPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Dir ZS IKT C44</author>
    <version>${project.version}</version>
    <date>2025-07-02</date>
    <minServerVersion>5.0.0</minServerVersion>
    <csrfProtectionEnabled>true</csrfProtectionEnabled>
    <databaseKey>httpfileupload</databaseKey>
    <databaseVersion>1</databaseVersion>
    <adminconsole>
      <tab id="tab-server">
        <sidebar id="sidebar-server-settings">
          <!-- Note that the item id here is the used as the page id in the jsp-->
          <item  id="httpfileupload-settings" name="${httpfileupload.sidebar.settings}"
            url="httpfileupload-settings.jsp"
            description="${httpfileupload.sidebar.settings.desc}">
          </item>
        </sidebar>
      </tab>
    </adminconsole>
    
</plugin>
